{% extends 'core/base.html' %}

{% block title %}{{ category.title }} | {% endblock %}

{% block content %}
    <div class="columns is-multiline">
        <div class="column is-12">
            <h1 class="title">{{ category.title }}</h1>
        </div>

        {% for subsubcategory in category.subsubcategory.all %}
            {% for product in subsubcategory.products.all %}
                {% if product.vendor.enabled and product.visible %}
                    {% include 'product/parts/list_item.html' %}
                {% endif %}
            {% endfor %}
        {% endfor %}
    </div>
{% endblock %}
